
.listing {
    margin-bottom:5%;
    margin-top:5%;  
}
.thumbnail
{

box-shadow: 10px 8px 8px  rgba(0, 0, 0, 0.2);

}

.shopone .box
{
    background-color:black;
    box-shadow: 10px 8px 8px rgba(0, 0, 0, 0.2);
    margin: auto;
    text-align: center;
    align-self: center;
    color:white;
    margin-bottom:10%;
}




/*four css*/


img{max-width:100%;}
*{
    transition: all .5s ease;
    -moz-transition: all .5s ease;
    -webkit-transition: all .5s ease
}
.my-list {
width: 100%;
padding: 10px;
border: 1px solid #f5efef;
float: left;
margin: 0px 0;
border-radius: 5px;
box-shadow: 2px 3px 0px #e4d8d8;
position:relative;
overflow:hidden;
}
.my-list h3{
text-align: left;
font-size: 14px;
font-weight: 500;
line-height: 21px;
margin: 0px;
padding: 0px;
border-bottom: 1px solid #ccc4c4;
margin-bottom: 5px;
padding-bottom: 5px;
}
.my-list span
{
    float:left;font-weight: bold;
}
.my-list span:last-child
{
    float:right;
}
.my-list .offer{
width: 100%;
float: left;
margin: 5px 0;
border-top: 1px solid #ccc4c4;
margin-top: 5px;
padding-top: 5px;
color: #afadad;
}


